.page-wrapper {
  margin: 0.25em auto;
  max-width: 1800px;
  padding: 0 4%;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    display: table;
  }

  &::before {
    background-size: 40em;
    background: url('../images/img-lg-horiz-border.png') repeat-x 0 -2px;
    content: '';
    display: block;
    height: 20px;
  }
}
